<!doctype html>
<html ng-app>
  <head>
    <script src="angular.min.js"></script>
    <script src="riffwave.js"></script>
    <script src="underscore.js"></script>
    <script type="text/javascript"
            src="http://www.parsecdn.com/js/parse-1.1.5.min.js"></script>
    <script src="controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <style type="text/css">
      table {
          border-spacing: 0px;
      }
      .noteCell {
          margin-bottom:1px;
          width:10px;
          height:6px;
      }
      .noPlay {
          background-color:cadetblue;
      }
      .play {
          background-color:coral;
      }
      .timeSlice {
          float:left;
          margin-right:1px;
      }
    </style>
  </head>
  <body ng-controller="ParseGlobal">
    <h1>BANJITZU</h1>
    <div ng-controller="Authentication"
         ng-show="!currentUser"
         class="row">
        <div class="span4 offset2">
          <div>
            <input class="input-small"  
                   type="text"
                   ng-model="register.username" />
            Username
          </div>
          <div>
            <input class="input-small"  
                   type="password" 
                   ng-model="register.password" />
            Password
          </div>
          <div>
            <input class="input-small"  
                   type="email" 
                   ng-model="register.email" />
            Email
          </div>
          <div>
            <button ng-click="register()">Register</button>
          </div>
        </div>
        <div class="span4">
          <div>
            <input class="input-small"  
                   type="text"
                   ng-model="login.username" />
            Username
          </div>
          <div>
            <input class="input-small"  
                   type="password"
                   ng-model="login.password" />
            Password
          </div>
          <div>
            <button ng-click="login()">Login</button>
          </div>
        </div>
    </div>
    
    <div ng-controller="Editor"
         ng-show="currentUser">
      
      <div class="row">
        <div class="span3 offset9">
          <h4>Hello {{ currentUser.attributes.username }}</h4>
          <button ng-click="logout()">Logout</button>
        </div>
      </div>
      
      <div class="row">
        
        <div class="span4">
          <h3>Sequences</h3>
          <ul>
            <li ng-repeat="sequence in sequences">
              <a ng-controller="LibrarySequence"
                 ng-click="load()">
                {{ sequence.attributes.name }}
              </a>
            </li>
          </ul>
        </div>
        
        <div class="span8">
          
          <h4>{{ currentSequence.name }}</h4>
          
          <div>
            <button ng-disabled="task" ng-click="start()">Start</button>
            <button ng-disabled="!task" ng-click="stop()">Stop</button>
            <button ng-click="saveAsNew()">Save As New</button>
            <input type="text" 
                   class="input-small"
                   ng-model="newSequence.name" />
          </div>
          
          <div ng-repeat="timeSlice in currentSequence.timeSlices"
               ng-controller="TimeSlice"
               class="timeSlice">
            <div ng-repeat="noteCell in timeSlice.noteCells"
                 ng-controller="NoteCell"
                 ng-click="toggle()"
                 ng-class="playClass"
                 class="noteCell" />
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
