<!doctype html>
<html ng-app>
  <head>
    <script src="angular.min.js"></script>
    <script src="riffwave.js"></script>
    <script type="text/javascript"
            src="http://www.parsecdn.com/js/parse-1.1.5.min.js"></script>
    <script src="controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <style type="text/css">
      table {
          border-spacing: 0px;
      }
      .note {
          width:10px;
          height:6px;
      }
    </style>
  </head>
  <body ng-controller="Global">
    <div ng-controller="Authentication"
         ng-show="!currentUser">
      <div>
        <input type="text" ng-model="register.username" />
        <input type="password" ng-model="register.password" />
        <input type="email" ng-model="register.email" />
        <button ng-click="register()">Register</button>
      </div>
      <div>
        <input type="text" ng-model="login.username" />
        <input type="password" ng-model="login.password" />
        <button ng-click="login()">Login</button>
      </div>
    </div>
    
    <div id="UIMain"
         ng-show="currentUser">
      
      <div class="row">
        <div class="span10 offset1">
          <h4>Hello {{ currentUser.attributes.username }}</h4>
          <button ng-click="logout()">Logout</button>
        </div>
      </div>
      
      <div class="row">
        
        <div ng-controller="Library"
             class="span4">
          <h3>Sequences</h3>
        </div>
        
        <div ng-controller="SequenceEditor"
             class="span8">
          
          <button ng-disabled="task" ng-click="start()">Start</button>
          <button ng-disabled="!task" ng-click="stop()">Stop</button>
          
          <table>
            <!-- a pitch is a row of note cells -->
            <tr ng-repeat="pitch in sequence">
              <!-- a note cell is the actual button -->
              <td ng-repeat="notecell in pitch">
                <div ng-controller="NoteCell" 
                     class="note" 
                     ng-click="toggle()" 
                     ng-style="notecell.style" />
              </td>
            </tr>
          </table>
          
        </div>
      </div>
    </div>
  </body>
</html>
